{% extends "mainapp/base.html" %}
{% block content%}
	<section class="page-section bg-primary" id="about">
	    <div class="container">
	        <div class="row justify-content-center">
	            <div class="col-lg-8 text-center">
	                <h2 class="text-white mt-0">Who we are</h2>
	                <hr class="divider light my-4" />
	                <p class="text-white-50 mb-4">Knowhow Math is an Online tutoring service with unique personal one on one interactions with the student - we do not take on huge numbers and are able to deliver personal tutoring online.

					The tutor is a subject matter expert and can relate to the students specific need to tailor a most effective online delivery method.

					Knowhow Math combines the principles of traditional student focussed tutoring and delivers it online making it the best online personal service around.<br></br>

					The Telegraph reports that a fifth of 16-24 year olds spend more than seven hours a day online every day of the week. With this in mind we wanted to create a service for high school students
					which is inline with contemporary learning habits!
					
					<!--Knowhow Math would like to ‘tap’ into this and make this online time work for you and help you succeed. -->
					</p><h5 class="text-white mb-4">Your success is our mission.</h5>
	            </div>
	        </div>
	    </div>
	</section>
{% endblock %}