{% extends "mainapp/base.html" %}
{% block content%}
	<section class="page-section bg-primary" id="about">
	    <div class="container">
	        <div class="row justify-content-center">
	            <div class="col-lg-8 text-center">
	                <h2 class="text-white mt-0">Who we are</h2>
	                <hr class="divider light my-4" />
	                <p class="text-white-50 mb-4">We're a mathematics tutoring agency based in Dunedin, NZ. We foucs on a two-part learning method. Firstly, that your understanding of the basic mathematics is sound and secondly, that your delivery in assessments is second to none. </p>
	            </div>
	        </div>
	    </div>
	</section>
{% endblock %}