{% extends "mainapp/base.html" %}
{% block content%}
	<section class="page-section bg-primary" id="about">
	    <div class="container">
	        <div class="row justify-content-center">
	            <div class="col-lg-8 text-center">
	                <h2 class="text-white mt-0">Enrol</h2>
	                <hr class="divider light my-4" />
	                <p class="text-white-50 mb-4">In faucibus dignissim consectetur. Aenean suscipit urna ac lectus iaculis, vitae efficitur massa tempus. Curabitur faucibus quam et mauris dictum facilisis. Nulla non risus neque. Aenean facilisis diam vitae venenatis iaculis. Curabitur gravida justo at volutpat porta. Nunc eu suscipit ex, sed suscipit eros. Nunc tristique fermentum orci suscipit elementum. Praesent est ante, iaculis in neque in, ultrices venenatis odio.</p>
	            </div>
	        </div>
	    </div>
	</section>
{% endblock %}